/* Contenedor general de la pagina */
.generalPageContainer {
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.buttonOpenForm {
    margin: 10px;
}

table {
    width: 100%;
    border: 3px solid black;
}

tbody {
    border: 1px solid black;
}

tr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    vertical-align: middle;
}

.deleteButton {
    padding: 5px 10px;
    background-color: #ff6961;
    color: #fff;
    border: none;
    border-radius: 5px;
}