<div class="container">
    <div class="title">
        <h1>Contabilidad</h1>
    </div>

    <div class="generalPageContainer">
        <!-- Boton donde abre el formulario -->
        <div class="buttonOpenForm">
            <button type="button" (click)="OpenForm()">Agregar Pago</button>
        </div>

        <!-- Tabla de registro de pagos -->
        <table>
            <!-- Encabezado de la tabla -->
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Pago </th>
                    <th>Dinero abonado</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <!-- Cuerpo de la tabla -->
            <tbody *ngIf="asisstances.length > 0 && payments.length > 0">
                <tr *ngFor="let a of asisstances; let i = index">
                    <td>{{ a.name }}</td>
                    <td>{{ a.lastName }}</td>
                    <!-- Accedo al pago del jugador correspondiente utilizando el indice -->
                    <td>{{ (payments[i] && payments[i].pay) ? 'Si' : 'No' }}</td>
                    <td>{{ (payments[i] && payments[i].amount) }}</td>
                    <!-- Boton Eliminar -->
                    <td>
                        <button type="button" class="deleteButton"
                            (click)="deletePlayerAsisstanceAndPayment(a.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="formContainer" *ngIf="showForm">
            <!-- Formulario para ingresar la informacion del pago de los jugadores -->
            <form (ngSubmit)="createPlayerAsisstanceAndPayment()">
                <label for="dates">Ingrese Fecha</label>
                <!-- <input type="date" id="dates" name="date" [(ngModel)]="sharedProperties.date"> -->

                <label for="names">Ingrese su Nombre</label>
                <input type="text" id="names" name="name" [(ngModel)]="newAsisstance.name">

                <label for="lastNames">Ingrese su Apellido</label>
                <input type="text" id="lastNames" name="lastName" [(ngModel)]="newAsisstance.lastName">

                <label for="payments">Pagó/No pagó</label>
                <input type="checkbox" id="payments" name="pay" [(ngModel)]="newPayment.pay">

                <label for="moneyPayments">Monto</label>
                <input type="text" id="moneyPayments" name="amount" [(ngModel)]="newPayment.amount">

                <button type="submit">Agregar</button>
            </form>
        </div>
    </div>
</div>