<div class="container">
    <div class="title">
        <h1>Jugadores</h1>
    </div>

    <div class="container-player" *ngFor="let jugador of jugadores">
        <!-- <-- Mostrar foto del jugador -->
        <div class="imagen-player">
            <img src="" alt="" />
        </div>
        <div class="container-input-player">
            <div>
                <!-- Mostrar el nombre -->
                <input type="text" [(ngModel)]="jugador.nombre" readonly />
            </div>
            <div>
                <!-- mostrar el apellido -->
                <input type="text" [(ngModel)]="jugador.apellido" readonly/>
            </div>
            <div>
                <!-- mostrar la fecha de nacimiento -->
                <input type="text" [(ngModel)]="jugador.fechaDeNacimiento" readonly/>
            </div>
            <div>
                <!-- Mostrar el club -->
                <input type="text" [(ngModel)]="jugador.club" readonly/>
            </div>
        </div>
        <!-- mostrar boton "Entrar", para ingresar a la informacion del jugador  -->
        <div class="button">
            <a [routerLink]="['/jugador', jugador.id]">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </a>
            <button class="btn btn-secondary" type="button" (click)="deleteJugador(jugador.id)">Borrar Jugador</button>
        </div>
    </div>
</div>