<div class="container">
    <div class="title">
        <h1>Jugador</h1>
    </div>
    <div class="container-player" *ngIf="jugadorSeleccionado">
        <!-- <-- Mostrar foto del jugador -->
        <div class="imagen-player">
            <img src="" alt="" />
        </div>
        <div class="container-input-player">
            <div>
                <!-- Mostrar la foto -->
                <img [src]="imagesPath + jugadorSeleccionado.urlImagen"
                    alt="{{jugadorSeleccionado.nombre}} {{jugadorSeleccionado.apellido}}">
            </div>
            <div>
                <!-- Mostrar el nombre -->
                <input type="text" [(ngModel)]="jugadorSeleccionado.nombre" />
            </div>
            <div>
                <!-- mostrar el apellido -->
                <input type="text" [(ngModel)]="jugadorSeleccionado.apellido" />
            </div>
            <div>
                <!-- mostrar la fecha de nacimiento -->
                <input type="text" [(ngModel)]="jugadorSeleccionado.fechaDeNacimiento" />
            </div>
            <div>
                <!-- Mostrar el club -->
                <input type="text" [(ngModel)]="jugadorSeleccionado.club" />
            </div>
        </div>
        <!-- mostrar boton "Volver", para ingresar a la informacion del jugador  -->
        <div class="button">
            <button class="btn btn-primary" type="submit" (click)="volverAJugadores()">Volver</button>
        </div>
    </div>
</div>