/* You can add global styles to this file, and also import other style files */
body {
    position: relative;
    padding-bottom: 10em;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #CCFFFF, #FFFFCC) !important;
}

.container {
    margin-top: 55px;
}

.title {
    text-align: center;
}