.buttonContainerModal {
    display: flex;
    justify-content: flex-end;
}

button {
    margin: 10px 0;
}

.row {
    display: flex;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

select {
    width: 150px;
}

input[type="checkbox"] {
    transform: scale(2);
}