<div class="container">
    <div class="title">
        <h1>Calendario de asistencia</h1>
    </div>

    <div class="buttonContainerModal">
        <!-- Boton para abrir el modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Crear actividad
        </button>
    </div>

    <!-- Calendario -->
    <div>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

    <!-- Modal-Formulario -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="newAppointmentForm" (submit)="createAppointment(appointment)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actividad</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Bootstrap -->
                        <div class="mb-3">
                            <label for="appointmentStartDate" class="form-label">Fecha de inicio</label>
                            <input type="date" class="form-control" id="appointmentStartDate" name="input 1"
                                placeholder="Ingrese fecha de inicio" formControlName="appointmentStartDate" />
                        </div>

                        <div class="mb-3">
                            <label for="appointmentStartTime" class="form-label">Horario de inicio</label>
                            <input type="time" class="form-control" id="appointmentStartTime" name="input 2"
                                placeholder="Ingrese horario de inicio" formControlName="appointmentStartTime">
                        </div>

                        <div class="mb-3">
                            <label for="appointmentEndTime" class="form-label">Horario de finalizacion</label>
                            <input type="time" class="form-control" id="appointmentEndTime" name="input 3"
                                placeholder="Ingrese horario de finalizacion" formControlName="appointmentEndTime">
                        </div>

                        <!-- =============================================== Asistencias y pagos =============================================== -->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" (click)="addAttendancesAndPayments()">
                                Agregar Jugador
                            </button>

                            <div formArrayName="attendanceAndPayments">
                                <ng-container
                                    *ngFor="let statusOfPlayer of getAttendancesAndPayments().controls; index as i">
                                    <ng-container [ngTemplateOutlet]="attendancesAndPaymentsBlock"
                                        [ngTemplateOutletContext]="{ i: i }">
                                    </ng-container>
                                </ng-container>

                                <ng-template #attendancesAndPaymentsBlock let-i="i">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col">
                                            <div class="form-group">
                                                <select class="form-select" id="{{ 'playerId' + i }}"
                                                    formControlName="playerId">
                                                    <option value="" selected>Seleccione...</option>
                                                    <option *ngFor="let player of allPlayers" [value]="player.id">
                                                        {{ player.nombre }}
                                                    </option>
                                                </select>
                                            </div>
                                            &NonBreakingSpace;
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input"
                                                    id="{{ 'attended' + i }}" placeholder="Asistio/No Asistio"
                                                    formControlName="attended" />
                                            </div>
                                            &NonBreakingSpace;
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="{{ 'moneyPaid' + i }}"
                                                    placeholder="Monto abonado" formControlName="moneyPaid" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!-- Botones -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Cargar Actividad</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal-Formulario-Modificacion -->
    <div class="modal fade" id="exampleModalModification" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true" #exampleModalModification>
        <div class="modal-dialog">
            <div class="modal-content">
                <form [formGroup]="updateAppointmentForm" (submit)="updateAppointmentsInCalendar(appointment)">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actividad a Modificar</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Bootstrap -->
                        <div class="mb-3">
                            <label for="appointmentStartDate" class="form-label">Fecha de inicio</label>
                            <input type="date" class="form-control" id="appointmentStartDate" name="input 1"
                                placeholder="Ingrese fecha de inicio" formControlName="appointmentStartDate">
                        </div>

                        <div class="mb-3">
                            <label for="appointmentStartTime" class="form-label">Horario de inicio</label>
                            <input type="time" class="form-control" id="appointmentStartTime" name="input 2"
                                placeholder="Ingrese horario de inicio" formControlName="appointmentStartTime">
                        </div>

                        <div class="mb-3">
                            <label for="appointmentEndTime" class="form-label">Horario de finalizacion</label>
                            <input type="time" class="form-control" id="appointmentEndTime" name="input 3"
                                placeholder="Ingrese horario de finalizacion" formControlName="appointmentEndTime">
                        </div>
                        <!-- =============================================== Asistencias y pagos =============================================== -->
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" (click)="addUpdateAttendancesAndPayments()">
                                Modificar Jugador
                            </button>

                            <div formArrayName="updateAttendanceAndPayments">
                                <ng-container
                                    *ngFor="let statusOfPlayer of getUpdateAttendancesAndPayments().controls; index as i">
                                    <ng-container [ngTemplateOutlet]="updateAttendancesAndPaymentsBlock"
                                        [ngTemplateOutletContext]="{ i: i }">
                                    </ng-container>
                                </ng-container>

                                <ng-template #updateAttendancesAndPaymentsBlock let-i="i">
                                    <div class="row" [formGroupName]="i">
                                        <div class="col">
                                            <div class="form-group">
                                                <select class="form-select" id="{{ 'playerId' + i }}"
                                                    formControlName="playerId">
                                                    <option value="" selected>Seleccione...</option>
                                                    <option *ngFor="let player of allPlayers" [value]="player.id">
                                                        {{ player.nombre }} {{ player.apellido }}
                                                    </option>
                                                </select>
                                            </div>
                                            &NonBreakingSpace;
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="{{ 'attended' + i }}"
                                                    placeholder="Asistio/No Asistio" formControlName="attended" />
                                            </div>
                                            &NonBreakingSpace;
                                            <div class="form-group">
                                                <input type="number" class="form-control" id="{{ 'moneyPaid' + i }}"
                                                    placeholder="Monto abonado" formControlName="moneyPaid" />
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!-- Botones -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="deleteAppointmentInCalendar(selectedAppointmentId)">Borrar</button>
                        <button type="submit" class="btn btn-success">Modificar Actividad</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>